/*
This is a good layout for a mobile-first CSS template.
Following this flow will minimize the number of styles you need to write and will ensure you are thinking, designing and developing mobile-first.
Most of your styles get written like standard CSS, but for your mobile presentation. Generally speaking, a good mobile presention will stretch out nicely for larger screens.

Sometimes, when we stretch out to larger screens, we need to make minor tweaks for the larger devices -- you can make these tweaks in the tablet media query, or if the issue exists on desktop only, the desktop media query.
You will find this is far easier than the opposite task of using CSS to cram your desktop experience into a mobile device.
*/
/* THIS LINE LOADS IN A NICE RESET TO ENSURE ALL BROWSERS HAVE THE SAME BASE STYLES */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');

/* Start your base/mobile styles here */
* {
    box-sizing: border-box;
}

html, body {
    /* Sets default font-size to 16px, ensuring 1em = 16px; */
    font-size: 16px;
}

.container {
    max-width: 1200px;
    padding: 5px;
    margin: 0 auto;
}

img {
    width: 100%;
}

p {
    max-width: 800px;
    line-height: 1.3em;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
}

p.caption {
    font-size: 1em;
    font-style: italic;
    color: #ccc;
    padding-left: 5px;
}

.img {
    max-width: 1200px;
    margin: 0 auto;
}

/* Tablet/Desktop overrides */
@media(min-width: 681px) {

    /* Any adjustments for tablets and larger go here. Note these styles will be applied to anything 681px or larger -- so tablet AND desktop */
    .flex {
        display: flex;
        justify-content: space-between;
    }

    .flex>div {
        flex-basis: 30%;
    }

    p.caption {
        padding: 0;
    }
}

@media(min-width: 729px) {
    /* Any adjustments for desktop and larger go here. Note these styles will be applied to anything 729px or larger -- so desktop */
}